.Album_img > img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.Album_img {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 3px;
    transition: all 2s ease;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}
.Album:hover .Album_back_side_wrap{
    transform: rotateY(0deg);
    transition: .5s ease all;
}
.Album:hover .Album_img {
    transform: rotateY(180deg);
    transition: .5s ease all;
}
.Album_back_side_wrap{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 2s ease;
}
.Album_wrap{
    display: inline-block;
    width: 250px;
    height: 220px;
    position: relative;
}
.Album-back_side_release {
    padding: 2px;
    font-size: 1em;
}
.Album_name > figcaption {
    padding: 2px;
    font-weight: bold;
    font-size: 1em;
    color: white;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align: center;
}
.Album_back_side_name > h2, .Album_back_side_play_time > h3,.Album_back_side_release > h3{
    font-size: 1em;
}

.Album {
    box-shadow: 2px 6px 15px -3px #000000;
    margin: 15px;
}
@media (max-width: 1500px){
    .Album_wrap{
        width: 150px;
        height: 150px;
    }
    .Album_back_side_wrap{
        padding: 10px;
    }
    .Album_back_side_name,.Album_back_side_play_time,.Album_back_side_release{
        font-size: .8em;
    }
}
