.Profile_text_wrap{
    text-align: center;
    padding: 20px 0;
}
.Profile_text_wrap > span{
    font-weight: bold;
    font-size: 3em;
    padding: 20px;
    display: inline-block;
    text-shadow: -1px 5px 4px rgba(150, 150, 150, 0.88);
    color: #242424;
}
.Profile_image > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.Profile_image_wrap{
    display: block;
    height: 500px;
    padding: 10px;
    width: 30%;
}
.Profile_wrap:nth-child(odd) .Profile_image_wrap{
    float: left;
}
.Profile_wrap:nth-child(even) .Profile_image_wrap{
    float: right;
}
.Profile_explain_wrap{
    float: left;
    padding: 10px;
    width: 70%;
    height: 500px;
}
.Profile_name{
    font-size: 3em;
    text-transform: capitalize;
    font-weight: bold;
}
.Profile_explain_text{
    padding: 10px 0;
}
.Profile_explain_text_wrap::-webkit-scrollbar {
    display: none; 
}
.Profile_name_wrap{
    height: 15%;
}
.Profile_explain_text_wrap{
    height: 75%;
    overflow-y: scroll;
}
.Profile_wrap{
    background-color: rgb(128, 126, 126);
    margin: 20px 0;
}
.Profile_wrap:after {
    content: "";
	display: block;
	clear: both;
}
.Profile_birth_wrap{
    height: 10%;
}
.Profile_birth{
    padding: 10px 0; 
}
@media (max-width:800px) {
    .Profile_wrap:nth-child(odd) .Profile_image_wrap{
        float: none;
    }
    .Profile_wrap:nth-child(even) .Profile_image_wrap{
        float: none;
    }
    .Profile_image_wrap,.Profile_explain_wrap{
        width: 100%;
    }
    .Profile_name_wrap{
        font-size: .8em;
    }
    .Profile_birth_wrap{
        font-size: .9em;
    }

}