.Discography_wrap{
    padding: 10px;
}
.Discography_Album_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 905px){
    .Title {
        padding-left:  0;
        padding-right:  0;
    }
}
@media (max-width: 520px){
    .Title > h1{
        font-size: 2.3em;
    }
}