.Discography{
    width: 100%;
    padding: 0 10% 30px;
    background: #242424;

}
.Discography_wrap{
    padding: 10px;
}
.Discography_text_wrap{
    text-align: center;
    padding: 20px 0;
}
.Discography_text_wrap > h1 {
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    color: #c7c7c7;
    text-shadow: -1px 5px 4px rgba(150, 150, 150, 0.88);
    padding: 20px;
    border-radius: 15px;
}
.Discography_Album_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 905px){
    .Discography_Album_wrap {
        padding-left:  0;
        padding-right:  0;
    }
}
@media (max-width: 520px){
    .Discography_text_wrap{
        font-size: .7em;
    }
}