.Navigation{
    width: 100%;
    padding: 0 10%;
    color: white;
    background-color: #0000000c;
    position: relative;
}
.Navigation_wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
}
.Navigation_wrap > li {
    padding: 10px 0;
    font-size: 1.3em;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 998;
}
.bookmark {
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}
.menu_toggle{
    position: absolute;
    right: 10px;
}
.menu_toggle > button{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
.menu_toggle > button > i{
    font-size: 2em;
    color: white;
}
.Menu_list_wrap{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 996;
    background-color: rgba(0, 0, 0, 0.473);
}
.Menu_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 997;
}
.Menu_list > li {
    background-color: rgb(59, 54, 54);
    padding: 10px;
    
}
.Menu > li > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_bookmark {
    text-decoration: none;
    color: white;
}
@media (min-width: 800px) {
    .menu_toggle {
        display: none;
    }
    .Menu_list_wrap {
        display: none;
    }
}
@media (max-width: 800px) {
    .bookmark {
        display: none;
    }
    .Navigation{
        padding: 0;
    }
}