.Member_image > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.Member_image_wrap{
    display: block;
    height: 500px;
    width: 30%;
    border: 10px solid white;
}
.Member_roles{
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 0;
    height: 10%;
}
.Member_role::after {
    content: ",";
}
.Member_role:last-child:after {
    content: "";
}
.Member_wrap:nth-child(odd) {
    box-shadow: 7px 13px 15px 2px #000000;
}
.Member_wrap:nth-child(even){
    box-shadow: -11px 13px 15px 2px #000000;
}
.Member_wrap:nth-child(odd) .Member_image_wrap{
    float: left;
}
.Member_wrap:nth-child(even) .Member_image_wrap{
    float: right;
}
.Member_explain_wrap{
    float: left;
    padding: 10px;
    width: 70%;
    height: 500px;
    overflow-y: hidden;
}
.Member_name{
    font-size: 2em;
    text-transform: capitalize;
    font-weight: bold;
}
.Member_explain_text{
    padding: 10px 0;
}
.Member_explain_text_wrap::-webkit-scrollbar {
    display: none; 
}
.Member_name_wrap{
    height: 10%;
    padding: 10px;
}
.Member_explain_text_wrap{
    overflow-y: scroll;
    height: 70%;
    padding: 0px 5px;
}
.Member_wrap{
    background-color: rgb(128, 126, 126);
    margin: 25px 0;
    border-radius: 5px;
}
.Member_wrap:after {
    content: "";
	display: block;
	clear: both;
}
.Member_birth_wrap{
    padding: 10px 0;
    height: 10%;
}
@media (max-width:800px) {
    .Member_wrap:nth-child(odd) .Member_image_wrap{
        float: none;
    }
    .Member_wrap:nth-child(even) .Member_image_wrap{
        float: none;
    }
    .Member_image_wrap,.Member_explain_wrap{
        width: 100%;
    }
    .Member_name_wrap{
        font-size: .8em;
        padding: 15px 0;
    }
    .Member_birth_wrap{
        font-size: .7em;
        padding: 10px 0;
    }

}