.song_list{
    transition: transform .5s;
    height: 100%;
}
.song_name_wrap{
    width: auto;
    margin: 0 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.song_box {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}
.song_box_link_wrap{
    width: 95%;
    height: 400px;
    margin: 0 2.5%;
    border: 10px solid rgb(255, 255, 255);
    position: relative;
}
.song_box_link_wrap > img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.song_box_link_wrap > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s all;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.song_box_link_wrap > a > i{
    font-size: 5em;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 45px;
    color: #fc0314cb;
}
.song_box_link_wrap:hover > a {
    opacity: 1;
}
@media (max-width: 600px) {
    .song_box_link_wrap{
        height: 300px;
    }
}
@media (max-width: 350px) {
    .song_box_link_wrap{
        height: 250px;
    }
}