.Modal_audio_Explanation_title_wrap {
    text-align: center;
}
.Modal_audio_Explanation_title > span{
    font-size: 1.5em;
    font-weight: bold;
}
.Modal_audio_Explanation_title{
    padding: 10px;
}