.Link_box_list_wrap{
    display: flex;
    justify-content: center;
}
.Link_box_list{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    gap: 10px;
}
.Link_box{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Link_box_wrap{
    position: relative;
}
.Link_box_button{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    text-decoration: none;
}
.Link_box_button > i {
    font-size: 3em;
    color: #f54842;
}
.Link_box_wrap:hover .Link_box_hover {
    opacity: 1;
}
.Link_box_hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .7s;
}
.twitter{
    background: #3399ff;
}
.instagram{
    background: rgb(131,58,180);
    background: linear-gradient(196deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.facebook{
    background: #3b5998;
}
.youtube{
    background: #fc0313;
}
.Link_box > span > i {
    font-size: 10em;
}
@media (min-width: 300px) {
    .Link_box_list{
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: repeat(4,200px);
        gap: 10px;
    }
}
@media (min-width: 500px) {
    .Link_box_list{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4,300px);
        gap: 10px;
    }
}
@media (min-width: 700px) {
    .Link_box_list{
        display: grid;
        grid-template-columns: repeat(2,300px) ;
        grid-template-rows: repeat(2,300px) ;
        gap: 10px;
    }
}
@media (min-width: 1200px) {
    .Link_box_list{
        display: grid;
        grid-template-columns: repeat(2,500px);
        grid-template-rows: repeat(2,300px);
        gap: 10px;
    }
}