.music{
    width: 100%;
    background-color: white;
    height: 25px;
    line-height: 25px;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align: center;
    cursor: pointer;
}
.music:last-child {
    margin-bottom: 5px;
}
.active {
    background-color: black;
    color: white;
    font-weight: bold;
}
@media (max-width:620px) {
    .music{
        font-size: .8em;
    }
}